$color-primary: #0D2C54;
$color-secondary: #0D2C54;
$color-tertiary: #FF851B;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #333;
$color-red: #FF4136;


$color-grey-light-1: #f7f7f7;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;